.alert1 {
    opacity: 0;
    margin-top: 5px;
    text-align: center;
    transition: 0.3s;
    background-color: #f8d7da;
    width: 70%;
    position: fixed;
    top: -10%;
    left: 18%;
    height: 0px;
    color: #222;
    border-radius: 5px;
    z-index: +5;
    padding: 10px;
    margin-bottom: 3rem;
    padding-bottom: 3rem;
    border: 1px solid rgba(0, 0, 0, 0.273);
}

.alert1 p {
    color: #333;
    margin-top: 10px;
}

@media screen and (max-width: 1200px) {
    .alert1 {
        width: 100%;
        left: 0%;
    }
}

@media screen and (max-width: 860px) {
    .alert1 p {
        font-size: 13px;
    }
}

@media screen and (max-width: 400px){
    .alert1{
        padding-bottom: 70px;
    }
}