.button-up {
  position: fixed;
  transition: 0.3s;
  bottom: 20px;
  right: 10px;
  border: 1px solid rgba(0, 0, 0, 0.767);
  padding: 5px 12px;
  padding-top: 7px;
  z-index: 100;
  color: rgba(0, 0, 0, 0.778);
  background-color: #f9f9f982;
  transition: 0.3s;
  -webkit-tap-highlight-color: transparent;
  font-size: 13px;
}

.button-up:hover::before {
  transform-origin: center;
  transform: scaleX(0);
}

.button-up:hover {
  background-color: #e9e9e960;
  color: rgba(0, 0, 0, 0.823);
}

.button-up:active {
  background-color: #e1e1e161;
}

@media screen and (max-width: 768px) {

  .button-up i {
    font-size: 20px;
  }

}